@font-face {
  font-family: "MyriadProBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MyriadProBold/MyriadProBold.eot") format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
}

@font-face {
  font-family: "MyriadProBoldItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot") format("embedded-opentype"), url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"), url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "MyriadProItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot") format("embedded-opentype"), url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"), url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
}

@font-face {
  font-family: "MyriadProRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
}

@font-face {
  font-family: "MyriadProSemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot") format("embedded-opentype"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "MyriadProSemiBoldItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot") format("embedded-opentype"), url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"), url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
}
